html {
  font-size: 100.01%; }

body footer {
  width: 100%; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  margin: 0; }

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

p {
  margin: 0 0 1.5em; }

article.dashboard {
  height: 100%; }

article.schedule {
  margin: 10px; }

article.user {
  margin: 10px; }

article.game {
  margin: 10px; }

section.user {
  margin-top: 10px;
  margin-left: 20px;
  width: 400px;
  float: left; }
  @media screen and (max-width: 320px) {
    section.user {
      width: 280px;
      margin-left: 5px; } }

section.league {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  float: left; }
  @media screen and (max-width: 320px) {
    section.league {
      width: 280px;
      margin-left: 5px;
      margin-right: 5px; } }

section.user-info {
  width: 360px;
  float: left;
  margin-bottom: 10px; }
  @media screen and (max-width: 320px) {
    section.user-info {
      width: 280px;
      margin-left: 5px;
      margin-right: 5px; } }

section.user-game-highlight {
  width: 360px;
  float: left;
  margin-bottom: 10px; }
  @media screen and (max-width: 320px) {
    section.user-game-highlight {
      width: 280px;
      margin-left: 5px;
      margin-right: 5px; } }

section.user-games {
  float: left; }

section.dashboard-standings {
  float: left;
  width: 100%; }

section.standings {
  margin-top: 10px;
  float: left;
  width: 100%; }

section.recent-games-played {
  float: left;
  width: 100%; }

section.recent-comments {
  float: left;
  width: 100%; }

section.game-details {
  float: left;
  width: 300px;
  margin-bottom: 10px; }

section.game-details-edit {
  width: 100%; }

section.game-board {
  float: left;
  width: 380px; }

section.user-details {
  margin-bottom: 20px; }

.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a img {
    border: none; }

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666666; }

pre {
  margin: 1.5em 0;
  white-space: pre;
  line-height: 1.5;
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em; }

code, tt {
  line-height: 1.5; }

code, pre {
  font-family: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace; }

li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #220000; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

.small-title {
  font-size: 0.8em;
  line-height: 0.8em;
  float: left;
  width: 50%; }

.small-value {
  font-size: 0.8em;
  line-height: 0.8em;
  float: left;
  width: 25%; }

.medsmall-title {
  font-size: 1.2em;
  line-height: 1.2em;
  float: left;
  width: 55%; }

.medsmall-value {
  font-size: 1.2em;
  line-height: 1.2em;
  float: left;
  width: 35%; }

.med-title {
  font-size: 1.5em;
  line-height: 1em;
  float: left;
  width: 55%; }

.med-value {
  font-size: 1.3em;
  line-height: 1.5em;
  float: left;
  width: 35%; }

.big-title {
  font-size: 1.8em;
  line-height: 2em;
  margin-bottom: 0.5em;
  float: left;
  width: 55%; }

.big-value {
  font-size: 1.8em;
  line-height: 2em;
  margin-bottom: 0.5em;
  float: left;
  width: 35%; }

.edit-link-span {
  font-size: 0.5em; }

.button {
  font-size: 1.5em;
  line-height: 2.5em;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #404040; }
  .button:hover {
    background-color: gray; }

.hide {
  display: none; }

.quiet {
  color: #666666; }

.loud {
  color: black; }

.highlight {
  background: yellow; }

.added {
  background: #006600;
  color: white; }

.removed {
  background: #990000;
  color: white; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.winner {
  font-size: 125%;
  font-weight: bold; }

body {
  font-size: 75%;
  background: red;
  color: white;
  font-family: "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 0px; }

header {
  text-align: center;
  padding: 0;
  height: 43px; }
  @media screen and (max-width: 320px) {
    header {
      height: 32px; } }
  header nav {
    padding: 20px; }
    @media screen and (max-width: 320px) {
      header nav {
        padding: 10px; } }
    header nav ul.tabs {
      float: left;
      text-align: left; }
      header nav ul.tabs li {
        display: inline; }
        header nav ul.tabs li a {
          padding: 10px;
          background-color: #404040;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px; }
          header nav ul.tabs li a:link, header nav ul.tabs li a:visited {
            color: white;
            text-shadow: 0 1px 1px rgba(20, 20, 20, 0.5); }
          header nav ul.tabs li a:hover {
            background-color: gray;
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px; }
          header nav ul.tabs li a.active {
            background-color: #770000;
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px; }
    header nav ul.profile {
      float: right;
      text-align: right; }
      header nav ul.profile li {
        display: inline; }
        @media screen and (max-width: 320px) {
          header nav ul.profile li.identity {
            display: none; } }
        header nav ul.profile li a {
          padding: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background-color: #404040; }
          header nav ul.profile li a:link, header nav ul.profile li a:visited {
            color: white;
            text-shadow: 0 1px 1px rgba(20, 20, 20, 0.5); }
          header nav ul.profile li a:hover, header nav ul.profile li a.active {
            background-color: gray;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px; }

.container {
  margin: auto;
  max-width: 900px;
  position: relative;
  background-color: red; }

.inner-container {
  margin: 10px;
  background-color: #dd0000;
  -webkit-box-shadow: black 2px 5px 5px;
  -moz-box-shadow: black 2px 5px 5px;
  box-shadow: black 2px 5px 5px;
  #border-top: 1px solid #444444;
  #border-left: 1px solid #444444; }

.notices-and-alerts {
  background-color: #770000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }
  .notices-and-alerts .notices-and-alerts-inner {
    text-align: center;
    padding: 5px;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .notices-and-alerts .notices-and-alerts-inner .notice {
      color: green; }
    .notices-and-alerts .notices-and-alerts-inner .alert {
      color: red; }

.content {
  width: 100%;
  background-color: #770000;
  padding-top: 5px; }
  .content article {
    background-color: #770000; }
    .content article section {
      background-color: #770000; }
      .content article section.user-info {
        background-color: #440000;
        padding: 5px;
        margin-bottom: 10px; }
        .content article section.user-info h3 {
          background-color: #220000; }
      .content article section.user-game-highlight {
        padding: 5px;
        background-color: #440000;
        margin-bottom: 10px; }
        .content article section.user-game-highlight h3 {
          background-color: #220000;
          padding: 5px; }

footer {
  text-align: left;
  overflow: hidden;
  padding: 10px; }
  footer p {
    color: white;
    font-weight: bold;
    line-height: 20px; }
    footer p a {
      color: white; }

hr {
  border: 1px solid white;
  color: #d1d1d1;
  background-color: #d1d1d1;
  height: 1px;
  display: block; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

tbody tr td {
  border-bottom: 1px solid #dcdfe4;
  background: #330000; }
tbody tr:nth-child(even) td {
  background: #440000; }

tbody tr:last-child td {
  border-bottom: none; }

/* Any image for the Retina Display must be 200% of the original size */
