%article.user
  %section.details
    %h2
      = @user.name
    .med-title
      Rating
    .med-value
      = @user.rating
    .med-title
      Record
    .med-value
      = @user.record
  %section.user-games
    %h2
      Games
    = render :partial => "games/user_table", :locals => {:games => @user.games.order(:round)}

