%article.user
  %section.user-details
    %h2
      = @user.name
    .med-title
      Rating
    .med-value
      = formatted_rating(@user.rating)
    .med-title
      Record
    .med-value
      = @user.record
    .clear
  %section.user-games
    %h2
      Games
    = render :partial => "games/user_table", :locals => {:games => @user.games.order(:round), :unplayed_games => true, :finished_games => true, :verbose => true}
  .clear

