%table.standings
  %thead
    %th
      Name
    %th
      Record
    %th
      Rating
  %tbody
    - schedule.schedule_results.each do |schedule_result|
      %tr
        - user = schedule_result.user
        %td= link_to user.name, user_path(user)
        %td= user.record
        %td= formatted_rating(user.rating)
